Flask>=3.0.2
requests>=2.31.0
python-dotenv==1.0.1
numpy>=1.26.4
scipy==1.12.0
librosa>=0.10.1
beautifulsoup4>=4.12.0
soundfile>=0.12.1
Werkzeug==3.0.1
pydub>=0.25.1
ffmpeg-python==0.2.0
selenium>=4.16.0
webdriver-manager>=4.0.1 